.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* Shared styles */

.hide{visibility: hidden;}
.none{display: none;}


    /* text-styles */

    .flex{display: flex;}

       /* small font */
     .font-small-1{
      font-size: 1rem;
      line-height: 20px;
      color: white;
     }

     .font-small-2{
      font-size: 1rem;
      line-height: 24px;
      color: white;
     }

     /* Medium-font */
     .font-medium-1{
      font-size: 1.5rem;
      font-weight: bold;
      color: white;
     }

     /* large */
     .font-large-1{
      font-size: 3rem;
      font-weight: bold;
      color: white;

    }


    /*background colors */

  .dark-purple{
    background-color: #1A0B2E;
  }

  .semi-light-purple{
    background-color: #230E3D;
  }

  .light-purple{
    background-color: rgba(53, 17, 101, 0.4);
  }

  .gradient-b{
    background: #833AB4;
    background: linear-gradient(90deg,rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
  }

  .gradient-t{
    background: #833AB4;
    background: linear-gradient(90deg,rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
    color: transparent;
    background-clip: text;
  }


  .btn-1{ 
  
    border: none;
    border-radius: 10000px;
    padding: 12px 16px;

    font-size: 1rem;
    font-weight: 600;
    color: white;
  }

  .btn-2{
          background-color: transparent;
          border: 1px solid #00ff88;
          padding: 12px 20px;
          border-radius: 10000px;

          color: #00ff88;
          font-size: 1rem;
          font-weight: 600;
        }


/* header styles  */

       /* nav styles */

       .nav-container{
        justify-content: space-around;
        align-items: center;
        max-width: 1600px;
        margin: 0 auto;
        padding: 30px 200px;
        border-bottom: 2px solid  rgba(53, 17, 101, 0.4);
       }

       .nav-contents{
        gap: 32px;
       }

       .nav-list{
        list-style: none;
       }
       .nav-option{
        text-decoration: none;
        font-size: 1rem;
        color: white;
        font-weight: 500;
        line-height: 120%;
       }

       .nav-3dot{display: none;}


       /* hero section */

       .hero-banner{
        background-image: url(/assets/hero-bg.png);
        /* background-size: cover; */
        background-position: center;
        padding-top: 100px;
        padding-bottom: 100px;
      
       }

        .hero-container{border: 1px solid yellow;
          flex-direction: column;
          width: 550px;
          margin: 0 auto;
          text-align: center;
          border: none;

          /* background-image: url(/assets/hero-bg.png); */
        }
        .hero-circle{
          /* border: 1px solid red; */
         width: 350px;
         margin: 0 auto;
         background-image: url(/assets/hero-circle.png);
         background-size: cover;
         height: 350px;
         display: flex;
         justify-content: center;
         align-items: center;
         /* background-position: center; */
        }

        .hero-mic{
          width: 200px;
          display: flex;
          /* justify-content: center; */
          /* justify-items: center; */
        }




        .hero-contents{
          margin-top: 40px;
        }

        .hero-paragraph{
          font-size: 1rem;
          color: white;
          margin-top: 8px;
          margin-bottom: 24px;
        }

        .hero-buttons{
          gap: 8px;
          justify-content: center;
        }


/* Main-section */
      
      /* about-section  */

      .about-container{
        padding: 50px 200px 80px;

        /* margin: 0 auto; */
      }

      .about-description{
        max-width: 1200px;
        text-align: center;
        /* border-bottom: 2px solid rgba(53, 17, 101, 0.4); */
        margin: 0 auto;
        
      }

      .about-paragraph{
        margin-top: 16px;
        margin-bottom: 80px;
        line-height: 25px;
        border-bottom: 2px solid  rgba(53, 17, 101, 0.4);
        padding-bottom: 80px;

      }


      .about-ratings-container{
        /* border: 1px solid red; */
        max-width: 1200px;
        
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        justify-content: space-between;
        text-align: center

      }


      .a-title{
        font-size: 3rem;
        font-weight: 900;
        color: #00FF88;
        display: flex;
        align-items: center;
        justify-content: center;
      }

        .star{font-size: 1.5rem;}











        /* footer section */

        .footer-container{
          background-image: url(/assets/footer-bg.png);
          /* background-position: center; */
          background-size: contain;
          height: 412px;
          padding: 120px;
        }

        .footer-contents{ 
          /* border: 1px solid lightcoral; */
          max-width: 1360px;
          /* display: flex;
          flex-direction: column;
          align-items: center;
          text-align: center; */
          color: white;
          text-align: center;
          
        }
        .footer-heading{
          font-size: 4rem;
          font-weight: 800;
          color: white;
          
        }


        .footer-img{
          /* border: 1px solid yellow; */
          max-width: 544px;
          margin: 32px auto 32px;
          display: grid;
          grid-template-columns: repeat(4, 1fr);
          justify-content: space-between;
        }

        .fi{
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 4px;}









/* Responsive style  */

     /* small-device  */
 @media screen and (max-width:576px){

  /* navigation bar responsive */
  .nav-contents, .nav-button {
    display: none;
  }
  .nav-container{
        justify-content: space-between;
        padding: 20px;
  }
  .nav-3dot{display: inline;
  }

 }


     /* medium-device  */

@media screen and (min-width:576px) and (max-width:992px){

 /* navigation bar responsive */
.nav-container{
  justify-content: space-between;
        padding: 40px;
 }

 .nav-contents{
  flex-direction: column;
  text-align: center;
 }

 .nav-option{
  font-size: 1.5rem;
  font-weight: bold;
 }

}