.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* Shared styles */

.hide{visibility: hidden;}
.none{display: none;}


    /* text-styles */

    .flex{display: flex;}

       /* small font */
     .font-small-1{
      font-size: 1rem;
      line-height: 20px;
      color: white;
     }

     .font-small-2{
      font-size: 1rem;
      line-height: 24px;
      color: white;
     }

     /* Medium-font */
     .font-medium-1{
      font-size: 1.5rem;
      font-weight: bold;
      color: white;
     }

     /* large */
     .font-large-1{
      font-size: 3rem;
      font-weight: bold;
      color: white;

    }


    /*background colors */

  .dark-purple{
    background-color: #1A0B2E;
  }

  .semi-light-purple{
    background-color: #230E3D;
  }

  .light-purple{
    background-color: rgba(53, 17, 101, 0.4);
  }

  .gradient-b{
    background: #833AB4;
    background: linear-gradient(90deg,rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
  }

  .gradient-t{
    background: #833AB4;
    background: linear-gradient(90deg,rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
    color: transparent;
    background-clip: text;
  }


  .btn-1{ 
  
    border: none;
    border-radius: 10000px;
    padding: 12px 16px;

    font-size: 1rem;
    font-weight: 600;
    color: white;
  }

  .btn-2{
          background-color: transparent;
          border: 1px solid #00ff88;
          padding: 12px 20px;
          border-radius: 10000px;

          color: #00ff88;
          font-size: 1rem;
          font-weight: 600;
        }


/* header styles  */

       /* nav styles */

       .nav-container{
        justify-content: space-around;
        align-items: center;
        max-width: 1600px;
        margin: 0 auto;
        padding: 30px 200px;
        border-bottom: 2px solid  rgba(53, 17, 101, 0.4);
       }

       .nav-contents{
        gap: 32px;
       }

       .nav-list{
        list-style: none;
       }
       .nav-option{
        text-decoration: none;
        font-size: 1rem;
        color: white;
        font-weight: 500;
        line-height: 120%;
       }

       .nav-3dot{display: none;}

       .nav-logo{animation: rainbow-text 7s infinite linear;}
    @keyframes rainbow-text {
  0% { color: white; }
  20% { color: orange; }
  40% { color: yellow; }
  60% { color: zrgb(230, 46, 46); }
  80% { color: red; }
  100% { color: white }
}


       /* hero section */

       .hero-banner{
        background-image: url(../assets/hero-bg.png);
        background-size: cover;
        background-position: center;
        /* background-size: contain; */
        /* background-repeat: no-repeat; */
        padding-top: 100px;
        padding-bottom: 100px;
      
       }

        .hero-container{
          flex-direction: column;
          width: 550px;
          margin: 0 auto;
          text-align: center;
          border: none;}
        
        .hero-circle{
          /* border: 1px solid red; */
         width: 350px;
         margin: 0 auto;
         background-image: url(../assets/hero-circle.png);
         background-size: cover;
         height: 350px;
         display: flex;
         justify-content: center;
         align-items: center;
         /* background-position: center; */
         position: relative;
        }

        .hero-mic{
          width: 200px;}

         .hero-new{
         background-color: #00FF88;
         border: none;
         padding: 8px 16px;
         border-radius: 1000px;
         position: absolute;

         color: #1A0B2E;
         font-size: 1.125rem;
         font-weight: 600;

        top: 4%;
        right: 5%;
        animation: tilt-shaking 0.5s infinite linear;
      }

      @keyframes tilt-shaking {
  0% { transform: rotate(0deg); }
  25% { transform: rotate(5deg); }
  50% { transform: rotate(0deg); }
  75% { transform: rotate(-5deg); }
  100% { transform: rotate(0deg); }
}


        .hero-contents{
          margin-top: 40px;
        }

        .hero-paragraph{
          font-size: 1rem;
          color: white;
          margin-top: 8px;
          margin-bottom: 24px;
        }

        .hero-buttons{
          gap: 8px;
          justify-content: center;
        }


/* Main-section */
      
      /* main part 1 about-section  */

      .about-container{
        padding: 50px 200px 80px;

        /* margin: 0 auto; */
      }

      .about-description{
        max-width: 1200px;
        width: 100%;
        text-align: center;
        /* border-bottom: 2px solid rgba(53, 17, 101, 0.4); */
        margin: 0 auto;
        
      }

      .about-paragraph{
        margin-top: 16px;
        margin-bottom: 80px;
        line-height: 25px;
        border-bottom: 2px solid  rgba(53, 17, 101, 0.4);
        padding-bottom: 80px;

      }


      .about-ratings-container{
        /* border: 1px solid red; */
        max-width: 1200px;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        justify-content: space-between;
        text-align: center

      }


      .a-title{
        font-size: 3rem;
        font-weight: 900;
        color: #00FF88;
        display: flex;
        align-items: center;
        justify-content: center;
      }

        .star{font-size: 1.5rem;}

/* main part 2  */
.choose-container{
  padding-top:120px;
  padding-bottom: 40px;
  /* padding: 120px 200px; */
  background-color: #230E3D;
  /* text-align: center; */
}

.choose-title{
  justify-self: center;
  margin-bottom: 16px;
}

.choose-cards{
  /* border: 1px solid red; */
  max-width: 1200px;
  height: 783px;
  margin: 0px auto 100px;
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas: 
  "area-1 area-2 area-2"
  "area-1 area-3 area-3"
  "area-4 area-4 area-5"
  
}
 
 .c-card{ 
  /* border: 1px solid gold; */
  background-color: rgba(53, 17, 101, 0.4);
  padding: 40px;
  border-radius: 40px;
 } 
 .card-1{
  grid-area: area-1;
 }
 .card-2{
  grid-area: area-2;
 }
 .card-3{
  grid-area: area-3;
 }
 .card-4{
  grid-area: area-4;
 }
 .card-5{
  grid-area: area-5;
 }
 
 /* ========================= */
/* .card-1{
  grid-row: 1/3;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

 .card-2{
  grid-column: 2 / 4;
  grid-row: 1 / 2;
 }

 .card-3{
  grid-column: 2 / 4;
 }

 .card-4{
  grid-column: 1 / 3;
 }

 .card-5{
  grid-column: 3 / 4;
 } */
/* =============================== */
 .c-div{
  width: 60px;
  height: 60px;
  padding: 5px;
  /* border: 1px solid yellow; */

  /* background-image: url(../assets/headphone.png); */
  background-repeat: no-repeat;
  background-position: center;
 }

 .c1-img{
  background-image: url(../assets/headphone.png);
  background-repeat: no-repeat;
  background-position: center;
 }

 .c2-img{
  background-image: url(../assets/device.png);
 }

 .c3-img{
  background-image: url(../assets/location.png);
 }
 .c4-img{
  background-image: url(../assets/zap-fast.png);
 }
 .c5-img{
  background-image: url(../assets/resource.png);
 }

 /* gaps into card  */
   
   .t-gap{
    margin-top: 16px;
    margin-bottom: 16px;
   }



/* Main part 3 */

   .featured-container{
    /* border: 1px solid red; */
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
   }

   .featured-title{
    text-align: center;
    margin-bottom: 40px;
    margin-top: 120px;
   }


   .featured-cards{
    gap: 30px;
   }


   .f-card{ 
    /* border: 1px solid yellow; */
    width: 380px;
    background-color: #250d44;
    /* padding: 24px; */
    border-radius: 30px;
   }
   iframe{
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
  }

   .card-written-parts{margin:24px;}


   .card-paragraph{ 
    margin-top: 12px;
    margin-bottom: 12px;}

   .card-timer{
    font-size: 1rem;
    font-weight: 600;
    line-height: 24px;
    color: #00FF88;
   }


         /* main-part 4 */

   .host-container{
    /* border: 1px solid red; */
    max-width: 1200px;
    width: 100%;
    margin: 100px auto;
    
   }
   .host-title{
    justify-self: center;
   }

   .host-description-and-img{
    background-color: rgba(53, 17, 101, 0.4);
    border-radius: 30px;
    padding: 40px 50px;
    margin-top: 40px;
    gap: 24px;
   }

  /* written part  */

   .host-description-title{
    font-size: 2rem;
    font-weight: bold;
    color: #ffffff;
   }


   .host-description-paragraph{
    margin-top: 16px;
   }

   .icons{
    gap: 8px;
    margin-top: 16px;
   }

   .icn{
    background-color: transparent;
    width: 40px;
    height: 40px;
    padding: 10px;
    border-radius: 50%;
    border: 1px solid #533C72;

    /* background-image: url(../assets/linkedin.png); */
    background-repeat: no-repeat;
    background-position: center;
   }

  .icon-1{background-image: url(../assets/linkedin.png);
  }
  .icon-2{background-image: url(../assets/x.png);
  }
  .icon-3{background-image: url(../assets/instagram.png);
  }
  .icon-4{background-image: url(../assets/youtube.png);
  }


  /* image part */

  .host-image{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: none;
    background-image: url(../assets/host.png);
    background-position: center;
    /* background-size: cover; */
    aspect-ratio: 1/1;
  }


        /* footer section */

        .footer-container{
          background-image: url(../assets/footer-bg.png);
          background-position: center;
          background-size: cover;
          
          padding: 120px;
        }

        .footer-contents{ 
          max-width: 1360px;
          color: white;
          text-align: center
        }
        .footer-heading{
          font-size: 4rem;
          font-weight: 800;
          color: white;
          
        }


        .footer-img{
          /* border: 1px solid yellow; */
          max-width: 544px;
          width: 100%;
          margin: 20px auto 32px;
          display: grid;
          grid-template-columns: repeat(4, 1fr);
          justify-content: space-between;
        }

        .fi{
      
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 4px;}









/* Responsive style  */

     /* small-device  */
 @media screen and (max-width:576px){

  /* navigation bar responsive */
  .nav-contents, .nav-button {
    display: none;
  }
  .nav-container{
        justify-content: space-between;
        padding: 20px;
  }
  .nav-3dot{display: inline;
  }

  /* hero-banner responsive */

  .hero-banner{
        background-size: cover;
        background-position: center;
        padding-top: 40px;
        padding-bottom: 0px;

       }

  .hero-container{
          max-width: 440px;
          width: 100%;
        }
  .hero-circle{
         width: 200px;
         background-size: cover;
         height: 200px;
         margin-top: 20px;
        }

 .hero-circle img {height: 80px;}

 .hero-new{

         font-size: 1rem;
         font-weight: 600;
         padding: 6px 10px;
         top: 5%;
         right: -1%;
      }





 /* main part 1 */

 .about-container{
        padding: 40px 20px;
      }

 .about-description {
        max-width: 400px;
        width: 100%; 
      }
.about-title{font-size: 2rem;}

.about-paragraph{
        margin-bottom: 40px;
        line-height: 20px;
        padding-bottom: 40px;
      }

      /* main part 1 last half rating part */

      .about-ratings-container{
        max-width: 400px;
        grid-template-columns: repeat(2, 1fr);
        gap: 40px;
        /* justify-content: center;
        align-items: center; */
        margin: 0 auto;
        
      }


/* main part two  */
.choose-container{
  /* padding-bottom: 20px; */
  /* margin: 40px auto; */
  padding-top: 40px;
  padding-bottom: 40px;
}
.choose-title{  
 font-size: 2rem;
 font-weight: bold;
}

.c-card{ 
  padding: 24px;}

.choose-cards{

  max-width: 440px;
  height: 1450px;
  gap: 16px;
  margin: 0px auto;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-template-areas: 
  "area-1"
  "area-2"
  "area-3"
  "area-4"
  "area-5" 
}



/* .choose-cards{
  max-width: 440px;
  height: 1450px;
  gap: 16px;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(5, 1fr);
} */
/* .card-1{
  grid-row: 1/2;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

 .card-2{
  grid-column: 2 / 3;
  grid-row: 1 / 2;
 }

 .card-3{
  grid-column: 2 / 4;
 }

 .card-4{
  grid-column: 1 / 3;
 }

 .card-5{
  grid-column: 3 / 4;
 } */









 /* main part three */

 .featured-container{
  max-width: 575px;
  width: 100%;
  
  
 }
 .featured-cards{
  flex-direction: column;
  margin: 0 auto;
  justify-content: center;
  align-items: center; 
 }

  .featured-title{
    margin-bottom: 40px;
    margin-top: 40px;
   }

 /* main part 4 */

 .host-container{
    max-width: 400px;
    margin-top: 60px;
    margin-bottom: 40px;
    
   }

 .host-description-and-img{

    flex-direction: column;
    text-align: center;
    padding: 40px 50px;
    margin-top: 40px;

   }

   .icons{
    justify-self: center;
   }

   .host-image{
    margin: 0 auto;
   }

  /* footer part  */

  .footer-container{
    padding: 40px 20px;
    justify-content: center;
  }

   .footer-img{
          max-width: 255px;
          gap: 16px;
          margin: 20px auto 24px;
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          justify-content: space-between;
        }

      .fi2{
       text-wrap: nowrap;
      }


 }


     /* medium-device  */

@media screen and (min-width:576px) and (max-width:992px){

 /* navigation bar responsive */
.nav-container{
  justify-content: space-between;
        padding: 40px;
 }

 .nav-contents{
  flex-direction: column;
  text-align: center;
 }

 .nav-option{
  font-size: 1.5rem;
  font-weight: bold;
 }




 /* main-part-three  */

  .featured-container{
  max-width: 440px;
  width: 100%;
  justify-content: center;
 }
 .featured-cards{
  flex-direction: column;
  /* justify-items: center; */
  padding-left: 27px;
  padding-right: 27px;
 }

}